.idea
./__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
.DS_Store
*/*/*/data
*/*/*/exp
./pretrained

*.o
*.obj

*.a

*.so

*.dll

*.exe
*.out
*.bin

**/build/
**/third_party/
**/cmake-build-debug/
**/out/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio Code
.vscode/
# CLion
.idea/
# Xcode
*.xcodeproj
*.xcworkspace

*.swp
*~
**/onnx_runtime/
**/exp/
**/__pycache__/
# Pretrained models
egs/3dspeaker/speaker-diarization/pretrained_models/face_recog_ir101.onnx
egs/3dspeaker/speaker-diarization/pretrained_models/IR_101_glint360k_webface_glinms1m_megaface_TFace.pth
egs/3dspeaker/speaker-diarization/pretrained_models/CurricularFace_Backbone_ms.pth
egs/3dspeaker/speaker-diarization/pretrained_models/CurricularFace_Backbone_HuangYG123.pth
# Self-supervised finetuning results
## our method
### IL
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/finetuned_classifier_face.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/finetuned_classifier_speaker.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/finetuned_model_face.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/finetuned_model_speaker.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/pseudo_label/alabels_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/pseudo_label/vlabels_mf_embeddings.pkl
### BB
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/finetuned_classifier_face.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/finetuned_classifier_speaker.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/finetuned_model_face.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/finetuned_model_speaker.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/pseudo_label/alabels_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/2. 仅微调dense layer，从hid_feat构建数据集/**/**/pseudo_label/vlabels_mf_embeddings.pkl
## baselines
### IL
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/3. baselines/**/**/**/finetuned_classifier_face.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/3. baselines/**/**/**/finetuned_classifier_speaker.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/3. baselines/**/**/**/finetuned_model_face.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/3. baselines/**/**/**/finetuned_model_speaker.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/3. baselines/**/**/**/pseudo_label/vlabels_mf_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video/result/self_supervised/3. baselines/**/**/**/pseudo_label/alabels_embeddings.pkl
### BB
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/3. baselines/**/**/**/finetuned_classifier_face.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/3. baselines/**/**/**/finetuned_classifier_speaker.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/3. baselines/**/**/**/finetuned_model_face.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/3. baselines/**/**/**/finetuned_model_speaker.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/3. baselines/**/**/**/pseudo_label/vlabels_mf_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video/result/self_supervised/3. baselines/**/**/**/pseudo_label/alabels_embeddings.pkl

# Self-supervised finetuning results(overlap setting)
## our method
### IL
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_overlap/result/self_supervised/exp0/**/finetuned_classifier_face.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_overlap/result/self_supervised/exp0/**/finetuned_classifier_speaker.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_overlap/result/self_supervised/exp0/**/finetuned_model_face.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_overlap/result/self_supervised/exp0/**/finetuned_model_speaker.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_overlap/result/self_supervised/exp0/**/pseudo_label/alabels_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_overlap/result/self_supervised/exp0/**/pseudo_label/vlabels_mf_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_overlap/**/segmentation.pkl
### BB
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_overlap/result/self_supervised/exp0/**/finetuned_classifier_face.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_overlap/result/self_supervised/exp0/**/finetuned_classifier_speaker.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_overlap/result/self_supervised/exp0/**/finetuned_model_face.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_overlap/result/self_supervised/exp0/**/finetuned_model_speaker.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_overlap/result/self_supervised/exp0/**/pseudo_label/alabels_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_overlap/result/self_supervised/exp0/**/pseudo_label/vlabels_mf_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_overlap/**/segmentation.pkl

# Self-supervised finetuning results(contrastive learning setting)
egs/3dspeaker/speaker-diarization/runs/**/exp_video_contrastive/embs/
egs/3dspeaker/speaker-diarization/runs/**/exp_video_contrastive/embs_video/
## our method
### IL
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_contrastive/result/self_supervised/exp0/**/finetuned_classifier_face.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_contrastive/result/self_supervised/exp0/**/finetuned_classifier_speaker.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_contrastive/result/self_supervised/exp0/**/finetuned_model_face.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_contrastive/result/self_supervised/exp0/**/finetuned_model_speaker.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_contrastive/result/self_supervised/exp0/**/pseudo_label/alabels_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_contrastive/result/self_supervised/exp0/**/pseudo_label/vlabels_mf_embeddings.pkl
### BB
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_contrastive/result/self_supervised/**/**/finetuned_classifier_face.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_contrastive/result/self_supervised/**/**/finetuned_classifier_speaker.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_contrastive/result/self_supervised/**/**/finetuned_model_face.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_contrastive/result/self_supervised/**/**/finetuned_model_speaker.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_contrastive/result/self_supervised/**/**/pseudo_label/alabels_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_contrastive/result/self_supervised/**/**/pseudo_label/vlabels_mf_embeddings.pkl

# Self-supervised finetuning results(Ablation study)
egs/3dspeaker/speaker-diarization/runs/**/exp_video_ablation/embs/
egs/3dspeaker/speaker-diarization/runs/**/exp_video_ablation/embs_video/
## our method
### IL
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_ablation/result/**/self_supervised/exp0/**/finetuned_classifier_face.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_ablation/result/**/self_supervised/exp0/**/finetuned_classifier_speaker.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_ablation/result/**/self_supervised/exp0/**/finetuned_model_face.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_ablation/result/**/self_supervised/exp0/**/finetuned_model_speaker.pth
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_ablation/result/**/self_supervised/exp0/**/pseudo_label/alabels_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_ablation/result/**/self_supervised/exp0/**/pseudo_label/vlabels_mf_embeddings.pkl
### BB
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_ablation/result/**/self_supervised/**/**/finetuned_classifier_face.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_ablation/result/**/self_supervised/**/**/finetuned_classifier_speaker.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_ablation/result/**/self_supervised/**/**/finetuned_model_face.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_ablation/result/**/self_supervised/**/**/finetuned_model_speaker.pth
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_ablation/result/**/self_supervised/**/**/pseudo_label/alabels_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/the big bang theory/exp_video_ablation/result/**/self_supervised/**/**/pseudo_label/vlabels_mf_embeddings.pkl
egs/3dspeaker/speaker-diarization/runs/I love my family/exp_video_ablation/embs_video/E01_midframe.pkl

